.home-div {
  height: 100vh;
  background-color: #152850;
  display: flex;
  flex-direction: column;
}

.home-nav {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-content {
  width: 90%;
  max-width: 1146px;
  display: flex;
  justify-content: space-between;
}

.logout-button {
  height: 36px;
  width: 84px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
